#root {
  max-width: 1280px;
  margin: 0 auto;
}

/* NavBar fixo no topo */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background: #242424;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 1rem 1rem 1rem 1rem;
}

.content {
  padding: 3rem 0rem 0rem 0rem;
  margin: 0rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
